{% extends "bootstrap/base.html" %}

{% block content %}

<h2>Les données récoltés par le chatbot proviennent de <a href="https://fr.wikipedia.org/wiki/DBpedia">DBpedia</a> </h2>

<a href="#type_question">Types de questions</a><br>
<a href="#implementation">Implémentation du chatbot</a><br><br>


<h3 id="type_question">Les types de questions auxquelles le chatbot peut répondre sont les suivantes :</h3>
<ul>
    <li>Donner la liste des restaurants en suisse</li>
    <li>Lister les restaraunts qui se trouvent dans une ville/canton. Le chatbot donne éventuellement les restaruants qui sont proches d'une ville<br>
    Génération de nouvelles connaissances</li>
    <li>Le chatbot peut résoudre des mentions telles que <em>le premier restaruant, le second, etc.</em></li>
</ul>

<h3 id="implementation">Implémentation</h3>
<a href="https://getbootstrap.com/docs/4.0/content/code/">Voir bootstrap code</a>

{% endblock content %}