{% extends "bootstrap/base.html" %}

{% block content %}

<h2>Les données récoltés par le chatbot proviennent de <a href="https://fr.wikipedia.org/wiki/DBpedia">DBpedia</a> </h2>

<a href="#type_question">Types de questions</a><br>
<a href="#implementation">Implémentation du chatbot</a><br><br>


<h3 id="type_question">Les types de questions auxquelles le chatbot peut répondre sont les suivantes :</h3>
<ul>
    <li>Illustrer tous les restaurants en suisse</li>
    <li>Obtenir les informations sur un restaurant</li>
    <li>Obtenir les restaurants qui sont proches d'un canton</li>
</ul>

<h3 id="implementation">Implémentation</h3>
<a href="https://getbootstrap.com/docs/4.0/content/code/">Voir bootstrap code</a>

{% endblock content %}