{% extends "bootstrap/base.html" %}

{% block content %}

<h3>Les données récoltées par le chatbot proviennent de <a href="https://fr.wikipedia.org/wiki/DBpedia">DBpedia</a>, <a
        href="https://www.geonames.org/">Geonames</a> et <a
        href="https://wiki.openstreetmap.org/wiki/SPARQL_examples">openStreetMap</a> </h3>

<a href="#type_question">Types de questions</a><br>
<a href="#architecture">Architecture</a><br>
<a href="#implementation">Implémentation du chatbot</a><br><br>

<h3 id="type_question">Les types de questions auxquelles le chatbot peut répondre sont les suivantes :</h3>
<ul>
    <li>Donner la liste des restaurants en Suisse.</li>
    <li>Lister les restaraunts qui se trouvent dans une ville.</li>
    <li>Donner toutes les informations concernant un restaurant en mentionnant son nom ou en utilisant des mentions tels
        que le <em>premier</em>, le <em>deuxième</em>, etc. Le chatbot donne éventuellement les lieux qui sont proches
        d'un restaurant.</li>
    <li>Lister quelques curiosités qui sont autour d'un restaurant (précisement les terrains de jeux) se trouvant à une
        distance maximale de <em>1km</em>.</li>
    <li>Lister les restaurants par type de cuisine dans une ville.</li>
    <li>Le chatbot peut éventuellement résoudre quelques ambiguïtés, par exemple lorsque plusieurs restaurants ont le
        même nom.</li>
</ul>

<strong>Important: <em>Le chatbot devient intélligent à travers les questions posées par l'utilisateur. Par exemple
        lorsqu'il n'a pas encore parcouru les restaurants d'une ville ou les restaurants qui offrent certaines
        spécialités dans une ville.</em></strong><br>

<h3 id="architecture">Architecture</h3>

<p>Insérer une image de l'architecture du chatbot</p>


<h3 id="implementation">Implémentation</h3>
<h6>Lister les restaurants en Suisse</h6>
<section>
    <kbd>Donne moi la liste des restaurants en Suisse</kbd><br>
    <samp>Combien ?</samp><br>
    <kbd>12 restaurants</kbd><br>

    <pre class="pre-scrollable">
        <code>
            SELECT *
            WHERE {
                ?r ns0:name 'Restaurant Anker' ; ?p ?o .
            }
        </code>
    </pre>
</section>

<a href="https://getbootstrap.com/docs/4.0/content/code/">Voir bootstrap code</a>


{% endblock content %}