{% extends "bootstrap/base.html" %}

{% block content %}

<div class="d-flex flex-column justify-content-start" style="text-align: left">

    <h1>Chatbot connecté à un graphe de connaissance.</h1>
    <h2>Bot construit avec la framework Rasa open source</h2>
    <p>
        Le but du chatbot est de renseigner les utilisateurs sur divers restaurants en suisse.<br>
    </p>

</div> <br>
<div>
    Si vous avez des questions n'hésitez pas à me contacter à l'adresse suivante:
    <a href="mailto: Kerfalla.Cisse@etu.unige.ch">Kerfalla.Cisse@etu.unige.ch</a>
</div>

<style>
    .rw-conversation-container .rw-header {
        background-color: black;
    }
    .rw-launcher{
        background-color: black;
    }
    .rw-conversation-container .rw-messages-container .rw-snippet .rw-link {
        color: rgb(18,115,207);
    }
</style>

<script>!(function () {
    let e = document.createElement("script"),
      t = document.head || document.getElementsByTagName("head")[0];
    (e.src =
      "https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.js"),
      (e.async = !0),
      (e.onload = () => {
        window.WebChat.default(
          {
            initPayload: "/utter_salutation",
            customData: { language: "fr" },
            socketUrl: "http://localhost:5005",
            title: "Rasa restaurant bot"
          },
          null
        );
      }),
      t.insertBefore(e, t.firstChild);
  })();
  </script>




{% endblock content %}